<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Libreria</title>
</head>
<body>

    <section class="caja">
        <span class="circulo1"></span>
        <span class="circulo2"></span>
        <span class="circulo3"></span>
        <h3><img src="static/cursor1.png"></h3>
        <h4><img src="static/cursor2.png"></h4>
        <div class="subcaja">
            <h1>
                <p>EN UN CLICK</p>
            </h1>
            <h2>
                <p>LIBRERIA</p>
            </h2>
        </div>
    </section>
    <div class="boton">
        <p>BUSCAR</p>
    </div>
    
</body>