<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/libros.css" />
    <title>Libreria</title>
</head>
<body>

    <section class="caja">
        <span class="circulo1"></span>
        <span class="circulo2"></span>
        <span class="circulo3"></span>
        <h3><img src="static/cursor1.png"></h3>
        <h4><img src="static/cursor2.png"></h4>
        <div class="subcaja">
            <h1>
                <p>LIBROS</p>
            </h1>
            <ul class="libro">
                {% for id, producto in productos %}
                <li>
                    <a href="{{ url_for('get_producto', id=id) }}">{{ producto.name }}</a>
                </li>
                {% endfor %}
            </ul>
            
            <ul class="imagenes">
                {% for id, producto in productos %}
                <li>
                    <img src="{{ producto.imagen }}" width="150px" height="200px">
                </li>
                {% endfor %}
            </ul>

        </div>
    </section>
    <div class="boton">
        <p>Buscar</p>
    </div>
    <div class="boton2">
        <p>Cargar</p>
    </div>
    
</body>