<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/producto.css" />
    <title>Libreria</title>
</head>
<body>
    <section class="caja">
        <span class="circulo1"></span>
        <span class="circulo2"></span>
        <span class="circulo3"></span>
        <h3><img src="../static/cursor1.png"></h3>
        <h4><img src="../static/cursor2.png"></h4>
        <div class="subcaja">
            <h1>
                <p>LIBROS</p>
            </h1>
            <div class="productos">
                <p>Mostrando {{ producto.name }}</p>
                <p>Hay {{ producto.Stock }} unidades de este producto</p>
                <p>Su precio unitario es de ${{ producto.precio_unitario }}</p>
                {{ producto.imagen }}
            </div>
            
        </div>
    </section>
    
    <div class="boton">
        <a href="{{ url_for('get_all_libros') }}">
        <p>Atras</p>
    </div>
    

</body>