<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Monkey Gamers</title>
</head>
<body>
    <section class="Welcome">
        <h1>Monkey Gamers</h1>
        <p>Ankara Messi</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-0Yz4HIETt5y_APQbbmQsgt3DCNmj_IGRkv3oxA2Org&s" atl="welcome">
    </section>
    <section class= "About">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quia fuga, soluta dolorem enim, aliquid deserunt obcaecati cum vel numquam at perferendis maxime in modi deleniti, eum excepturi beatae magni.
        </p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>    
    </section>
    <footer class="footer">
        <p>contacto: info@monkeygamers.com</p>
    </footer>
</body>
</html>
