<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/home.css')}}">
    <title>Consejos Utiles</title>
</head>

<body>

    <div class="container">

        <div class="cuadrante1">

            <div class="item item1--texto">
                <p>ElEGI<br>Y<br>LLEVALO</p>
            </div>

            <figure class="imagen imagen1--1">
                <img src="" alt="grilla" class="imagen_img">
            </figure>
        </div>

        <div class="cuadrante2">
            <P>CONSEJOS UTILES</P>
        </div>

        <div class="cuadrante3">
            <a href=""  alt="redes" class="">
                <img src="" alt="redes" class="imagen-redes">
            </a>
            <img src="" alt="buscar" class="img_buscar">
        </div>

        <div class="cuadrante4">
            
        </div>

    </div>

</body>

</html>